{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etudiant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ etudiant.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etudiant.email }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ etudiant.photo }}</td>
            </tr>
            <tr>
                <th>Adresses</th>
                <td>{{ etudiant.adresses }}</td>
            </tr>
            <tr>
                <th>DateDeNaissance</th>
                <td>{{ etudiant.dateDeNaissance ? etudiant.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Promotion</th>
                <td>{{ etudiant.promotion }}</td>
            </tr>
            <tr>
                <th>Inscrit</th>
                <td>{{ etudiant.inscrit ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ etudiant.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etd_index') }}">back to list</a>

    <a href="{{ path('etd_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etd/_delete_form.html.twig') }}
{% endblock %}
