{% block title %}Pfe index{% endblock %}

{% block body %}
    <h1>Pfe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sujet</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Annee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pfe in pves %}
            <tr>
                <td>{{ pfe.id }}</td>
                <td>{{ pfe.sujet }}</td>
                <td>{{ pfe.description }}</td>
                <td>{{ pfe.etat }}</td>
                <td>{{ pfe.annee }}</td>
                <td>
                    <a href="{{ path('pfe_ct_show', {'id': pfe.id}) }}">show</a>
                    <a href="{{ path('pfe_ct_edit', {'id': pfe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pfe_ct_new') }}">Create new</a>
{% endblock %}
